
.toolbar-title {
    font-family: 'Courier New', sans-serif;
    font-weight: bold;
}
 
.warning-text {
    color: red;
}
 
.message {
    margin: 20px;
    padding: 20px;
    background-color: whitesmoke;
    font-size: 0.8em;
}